.Home .lander {
  padding: 80px 0;
  text-align: center;
}

.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Home .lander p {
  color: #999;
}

.Home .statuses h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  overflow: hidden;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.Home .statuses p {
  color: #666;
}

.Home small {
  padding-right: 10px;
}

.pullRight {
  float: right;
  font-family: "Open Sans", sans-serif;
}

.status-date {
  color: #777;
}

.title {
  padding-bottom: 5px;
}

.more {
  padding-bottom: 10px;
}

.more .small {
  cursor: pointer;
  cursor: hand; color: blue;
}

.Home Button {
  margin: 0 5px 0 0;
  color: white;
}

.Home Button a {
  color: white;
}

.blocked {
  margin-left: 50px;
}
