.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}

.today {
  background-color: #E9F7EF;
}

.not-today {
  background-color: #FADBD8;
}

.userFullName {
  padding-right: 10px;
}